@font-face {
  font-family: "Dekar";
  src: url("../fonts/Dekar.otf") format("opentype");
  src: local("Dekar"),
    url("../fonts/Dekar.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Dekar.woff2") format("woff2"),
    url("../fonts/Dekar.woff") format("woff"),
    url("../fonts/Dekar.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-Light.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Exo2-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Exo2-Light.woff2") format("woff2"),
    url("../fonts/Exo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-Regular.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Exo2-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-Medium.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Exo2-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Exo2-Medium.woff2") format("woff2"),
    url("../fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2-Bold.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Exo2-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("../fonts/Play-Regular.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Play-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Play-Regular.woff2") format("woff2"),
    url("../fonts/Play-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("../fonts/Play-Bold.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Play-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Play-Bold.woff2") format("woff2"),
    url("../fonts/Play-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  src: local("Exo2"),
    url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
