@mixin font-dekar {
  font-family: "Dekar", sans-serif;
}
@mixin font-exo2 {
  font-family: "Exo2", sans-serif;
}
@mixin font-montserrat {
  font-family: "Montserrat", sans-serif;
}
@mixin font-play {
  font-family: "Play", sans-serif;
}
@mixin font-roboto {
  font-family: "Roboto", sans-serif;
}
