{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "quotes": ["error", "double"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["airbnb/base"]
}
