section#services.section.section-services
  .container.container-services.section-services-bg-block
    img.section-services-bg-block__block-dots-lines(src="assets/img/section-advantages/bg-advantages-with-shadow.svg", alt="advantages")
    img.section-services-bg-block__graphs(src="assets/img/section-advantages/graphs.svg", alt="ellipse")
    img.section-services-bg-block__blur(src="assets/img/section-advantages/ellipse-blur.svg", alt="blur")
    img.section-services-bg-block__dots(src="assets/img/block-dots.svg", alt="lines")
    .section-services-text-block
      .tx-title.section-services-text-block__title Дополнительные услуги
      .section-services-text-block-content-wrap
        .section-services-text-block-content
          .section-services-text-block-content__line
          ul.section-services-text-block-content-list
            li.section-services-text-block-content-list__item 
              a.section-services-text-block-content-list__link(href="") Аренда серверов (dedicated)
            li.section-services-text-block-content-list__item 
              a.section-services-text-block-content-list__link(href="") Интеграция с CRM
        .section-services-text-block-content
          .section-services-text-block-content__line
          ul.section-services-text-block-content-list
            li.section-services-text-block-content-list__item 
              a.section-services-text-block-content-list__link(href="") Размещение клиентских серверов
            li.section-services-text-block-content-list__item 
              a.section-services-text-block-content-list__link(href="") Переадресация звонков
        .section-services-text-block-content
          .section-services-text-block-content__line
          ul.section-services-text-block-content-list
            li.section-services-text-block-content-list__item 
              a.section-services-text-block-content-list__link(href="") Продажа телекоммуникационного и сетевого оборудования