section.section.section-footer
  .container.section-footer__container
    .section-footer-contact
      a(href="").section-footer-contact-item
        svg.section-footer-contact-item__icon(width='24' height='23' viewbox='0 0 24 23' fill='none'  xmlns='http://www.w3.org/2000/svg')
          path(d='M23.3702 17.3223L18.5125 14.2913C17.8961 13.9098 17.0698 14.0353 16.614 14.5798L15.199 16.282C15.0172 16.5064 14.6866 16.5715 14.4235 16.4347L14.1544 16.2959C13.2621 15.8409 12.1519 15.2743 9.91502 13.1807C7.67815 11.087 7.07144 10.0475 6.58509 9.21416L6.4375 8.96232C6.28935 8.71623 6.35759 8.40562 6.59746 8.23412L8.41557 6.91059C8.9973 6.48413 9.13167 5.7112 8.72434 5.13424L5.48481 0.589194C5.06736 0.00166896 4.22983 -0.174703 3.58356 0.188784L1.55226 1.33046C0.914006 1.68154 0.445747 2.25012 0.245667 2.91706C-0.485803 5.41073 0.0644751 9.71442 6.84029 16.0549C12.2303 21.0976 16.2429 22.4537 19.0009 22.4537C19.6356 22.4563 20.2679 22.379 20.8806 22.224C21.5936 22.037 22.2014 21.5988 22.5764 21.0015L23.7978 19.1021C24.1869 18.4973 23.9985 17.7131 23.3702 17.3223ZM23.1087 18.7181L21.89 20.6187C21.6208 21.0498 21.1836 21.3668 20.6702 21.5033C18.2098 22.1353 13.9112 21.6118 7.40617 15.5254C0.901118 9.43903 0.341653 5.41748 1.01716 3.11505C1.1632 2.63409 1.50243 2.22455 1.9638 1.97223L3.99511 0.832044C4.27552 0.674178 4.63903 0.750699 4.82018 1.00565L6.57993 3.47762L8.05693 5.55031C8.23381 5.80057 8.1757 6.13599 7.92336 6.32118L6.10483 7.64471C5.55141 8.04065 5.39337 8.75705 5.73411 9.32563L5.87851 9.57111C6.38965 10.4482 7.02513 11.5394 9.3452 13.7098C11.6653 15.8801 12.8311 16.4748 13.7681 16.953L14.0309 17.0884C14.6385 17.4072 15.4043 17.2594 15.8274 16.7416L17.242 15.0401C17.44 14.8041 17.7983 14.7498 18.0659 14.9151L22.9232 17.9461C23.1958 18.1155 23.2776 18.4558 23.1087 18.7181Z' fill='#8151FF')
          path(d='M13.5993 3.74107C17.3525 3.74498 20.3941 6.59091 20.3983 10.1027C20.3983 10.3094 20.5773 10.4769 20.7982 10.4769C21.0191 10.4769 21.1981 10.3094 21.1981 10.1027C21.1935 6.17773 17.7941 2.99697 13.5993 2.99268C13.3784 2.99268 13.1993 3.16019 13.1993 3.36687C13.1993 3.57355 13.3784 3.74107 13.5993 3.74107Z' fill='#8151FF')
          path(d='M13.5993 5.98783C16.0278 5.9905 17.9958 7.83173 17.9986 10.1038C17.9986 10.3105 18.1777 10.478 18.3986 10.478C18.6195 10.478 18.7985 10.3105 18.7985 10.1038C18.7952 7.41858 16.4693 5.24257 13.5993 5.2395C13.3784 5.2395 13.1993 5.40701 13.1993 5.61367C13.1993 5.82033 13.3784 5.98783 13.5993 5.98783Z' fill='#8151FF')
          path(d='M13.5993 8.23275C14.7031 8.23397 15.5976 9.07038 15.599 10.1025C15.599 10.3091 15.7781 10.4765 15.9989 10.4765C16.2198 10.4765 16.3988 10.3091 16.3988 10.1025C16.3971 8.65752 15.1447 7.48648 13.5993 7.48486C13.3784 7.48486 13.1993 7.65227 13.1993 7.85881C13.1993 8.06534 13.3784 8.23275 13.5993 8.23275Z' fill='#8151FF')
        .section-footer-contact-item__link +7 (4752) 400-500
      a(href="").section-footer-contact-item
        svg.section-footer-contact-item__icon(width='21' height='15' viewbox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M19.25 0H1.75001C0.784834 0 0 0.727763 0 1.62276V12.982C0 13.8769 0.784834 14.6047 1.75001 14.6047H19.25C20.2152 14.6047 21 13.8769 21 12.9819V1.62276C21 0.727763 20.2152 0 19.25 0ZM1.75001 0.81136H19.25C19.3145 0.81136 19.3713 0.833153 19.4318 0.845476C17.9167 2.13126 12.893 6.39294 11.1349 7.86174C10.9974 7.97664 10.7756 8.11371 10.5 8.11371C10.2245 8.11371 10.0027 7.97664 9.86471 7.86136C8.10682 6.39279 3.08278 2.13088 1.56795 0.845552C1.62857 0.833229 1.6855 0.81136 1.75001 0.81136ZM0.874986 12.9819V1.62276C0.874986 1.54327 0.900826 1.47116 0.923959 1.39851C2.08355 2.38266 5.58891 5.35624 7.86183 7.27284C5.59629 9.07739 2.09003 12.1599 0.921211 13.1934C0.90058 13.1244 0.874986 13.0569 0.874986 12.9819ZM19.25 13.7933H1.75001C1.68012 13.7933 1.61798 13.7708 1.55273 13.7563C2.76052 12.6886 6.28909 9.58841 8.5148 7.8228C8.80495 8.06686 9.06999 8.28939 9.27892 8.46396C9.63953 8.76587 10.0616 8.92511 10.5 8.92511C10.9384 8.92511 11.3605 8.76583 11.7206 8.46434C11.9296 8.28969 12.1949 8.06697 12.4852 7.8228C14.711 9.58822 18.2391 12.6882 19.4473 13.7563C19.382 13.7708 19.32 13.7933 19.25 13.7933ZM20.125 12.9819C20.125 13.0569 20.0994 13.1244 20.0788 13.1934C18.9096 12.1594 15.4037 9.0772 13.1382 7.27288C15.4112 5.35628 18.916 2.38296 20.076 1.39844C20.0992 1.47108 20.125 1.54323 20.125 1.62272V12.9819Z' fill='#8151FF')
        .section-footer-contact-item__link info@tmb-ix.net
    ul.section-footer-menu
      li.section-footer-menu__item 
        a(href='').section-footer-menu__link Политика конфиденциальности
      li.section-footer-menu__item
        a(href='').section-footer-menu__link IP телефония
      li.section-footer-menu__item
        a(href='').section-footer-menu__link Услуги
      li.section-footer-menu__item
        a(href='').section-footer-menu__link Тарифы
      li.section-footer-menu__item
        a(href='').section-footer-menu__link Документы