section.section.section-header
  //- .section-number
  //-   .section-number__numeric 01
  .container
    header.header
      .burger
        span
      ul.menu-header
        .container.menu-header__container
          li.menu-header__list.menu-header__list--margin-top
            a.menu-header__link(href="#offers") Мы предлагаем
          li.menu-header__list
            a.menu-header__link(href="#services") Дополнительные услуги
          li.menu-header__list
            a.menu-header__link(href="#tariffs") Тарифы
          li.menu-header__list
            a.menu-header__link(href="#advantages") преимущества ip-телефонии
          li.menu-header__list
            a.menu-header__link(href="#coop") Сотрудничество
      a(href="").logo
        h1.logo__title tmb-ix.net
        .logo__subtitle Оператор цифровой связи
      a(href="tel:799").phone
        svg.icon__phone(width='27' height='27' viewbox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip0)')
            path(d='M0.708441 20.8308L6.17334 17.1863C6.86685 16.7276 7.79647 16.8785 8.30919 17.5332L9.90105 19.58C10.1056 19.8497 10.4775 19.9279 10.7735 19.7635L11.0763 19.5966C12.0801 19.0495 13.3291 18.3683 15.8455 15.8509C18.362 13.3335 19.0446 12.0836 19.5917 11.0816L19.7578 10.7788C19.9244 10.4829 19.8477 10.1095 19.5778 9.90326L17.5324 8.31186C16.878 7.7991 16.7268 6.86974 17.1851 6.17602L20.8295 0.711123C21.2992 0.00469228 22.2414 -0.207374 22.9684 0.229676L25.2537 1.60241C25.9717 2.02454 26.4985 2.70819 26.7236 3.51011C27.5465 6.50846 26.9274 11.6831 19.3046 19.3068C13.2409 25.3701 8.72667 27.0007 5.62393 27.0007C4.90985 27.0037 4.19857 26.9108 3.50922 26.7244C2.70715 26.4996 2.02339 25.9728 1.60152 25.2545L0.227417 22.9707C-0.210266 22.2435 0.00169563 21.3007 0.708441 20.8308ZM1.00271 22.509L2.37365 24.7942C2.67657 25.3126 3.16835 25.6938 3.74597 25.8579C6.51395 26.6178 11.3498 25.9884 18.668 18.6702C25.9862 11.352 26.6156 6.51658 25.8556 3.74817C25.6913 3.16987 25.3097 2.67745 24.7907 2.37407L22.5054 1.00312C22.19 0.813307 21.781 0.905314 21.5772 1.21187L19.5975 4.18411L17.9359 6.67629C17.7369 6.9772 17.8023 7.3805 18.0862 7.60317L20.132 9.19456C20.7546 9.67063 20.9324 10.532 20.5491 11.2157L20.3866 11.5108C19.8116 12.5655 19.0967 13.8775 16.4866 16.4871C13.8765 19.0967 12.565 19.8117 11.5108 20.3867L11.2152 20.5495C10.5316 20.9328 9.67016 20.7551 9.19409 20.1325L7.6027 18.0866C7.37998 17.8029 6.97684 17.7376 6.67582 17.9364L1.2114 21.5808C0.904636 21.7844 0.812628 22.1936 1.00271 22.509Z' fill='white')
          defs
            clippath#clip0
              rect(width='27' height='27' fill='white' transform='matrix(-1 0 0 1 26.9999 0)')
        //- img.icon__phone(src="assets/img/icons/phone.svg", alt="phone")
        //- svg(class="icon icon__phone")
        //-   use(xlink:href="assets/img/icons/sprite.svg#phone")
    .section-header-main-content
      .section-header-main-content__texts
        .main-title
          //- img(src="assets/img/section-header/section-header-title.svg", alt="a")
          svg(width='695' height='507' viewbox='0 0 695 507' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M195.085 426.139L222.925 426.24L222.831 452.16L194.992 452.059L195.085 426.139ZM260.321 296.535L288.401 296.636L372.655 425.582L373.12 296.943L393.52 297.017L392.957 452.776L364.877 452.674L280.631 321.568L280.157 452.368L259.758 452.294L260.321 296.535ZM433.758 297.162L538.397 297.541L538.338 313.861L456.978 313.567L456.794 364.446L530.234 364.712L530.175 381.032L456.735 380.766L456.533 436.686L540.292 436.989L540.233 453.309L433.194 452.921L433.758 297.162ZM611.316 314.125L558.516 313.934L558.575 297.614L687.455 298.08L687.396 314.4L634.836 314.21L634.331 453.649L610.811 453.564L611.316 314.125Z' fill='#FC08F2' fill-opacity='0.7')
            path(d='M184.085 412.139L211.925 412.24L211.831 438.16L183.992 438.059L184.085 412.139ZM249.321 282.535L277.401 282.636L361.655 411.582L362.12 282.943L382.52 283.017L381.957 438.776L353.877 438.674L269.631 307.568L269.157 438.368L248.758 438.294L249.321 282.535ZM422.758 283.162L527.397 283.541L527.338 299.861L445.978 299.567L445.794 350.446L519.234 350.712L519.175 367.032L445.735 366.766L445.533 422.686L529.292 422.989L529.233 439.309L422.194 438.921L422.758 283.162ZM600.316 300.125L547.516 299.934L547.575 283.614L676.455 284.08L676.396 300.4L623.836 300.21L623.331 439.649L599.811 439.564L600.316 300.125Z' fill='white')
            rect(x='274' y='442' width='21' height='21' fill='#B106AA')
            rect(x='253' y='459' width='21' height='26' fill='#B106AA')
            rect(x='269' y='438' width='21' height='21' fill='white')
            rect(x='248' y='459' width='21' height='21' fill='white')
            rect(x='345' y='313' width='26' height='26' fill='#040407')
            rect(x='582' y='375' width='26' height='26' fill='#350348')
            rect(x='387' y='323' width='26' height='26' fill='#B207AD')
            rect(x='624' y='385' width='26' height='26' fill='#C008CC')
            rect(x='374' y='313' width='26' height='26' fill='white')
            rect(x='611' y='375' width='26' height='26' fill='white')
            path(d='M59.256 100.771L6.45637 100.58L6.51543 84.2604L135.395 84.7268L135.336 101.047L82.7759 100.856L82.2712 240.296L58.7514 240.21L59.256 100.771ZM150.461 163.262L217.181 163.503L217.118 180.783L150.399 180.542L150.461 163.262ZM247.32 85.1318L270.6 85.2161L270.036 240.975L246.756 240.891L247.32 85.1318ZM349.679 161.823L294.995 85.3044L321.635 85.4008L362.937 145.791L404.675 85.7013L431.315 85.7977L376.079 161.918L433.151 241.565L406.511 241.469L362.821 177.95L318.672 241.151L292.032 241.055L349.679 161.823Z' fill='#FC08F2' fill-opacity='0.7')
            path(d='M59.256 85.7714L6.45637 85.5803L6.51543 69.2604L135.395 69.7268L135.336 86.0467L82.7759 85.8565L82.2712 225.296L58.7514 225.21L59.256 85.7714Z' fill='#8151FF')
            path(d='M150.461 148.262L217.181 148.503L217.118 165.783L150.399 165.542L150.461 148.262ZM247.32 70.1318L270.6 70.2161L270.036 225.975L246.756 225.891L247.32 70.1318ZM349.679 146.823L294.995 70.3044L321.635 70.4008L362.937 130.791L404.675 70.7013L431.315 70.7977L376.079 146.918L433.151 226.565L406.511 226.469L362.821 162.95L318.672 226.151L292.032 226.055L349.679 146.823Z' fill='white')
            rect(x='408' y='71' width='32' height='22' fill='white')
            rect(x='257' y='133' width='32' height='22' fill='white')
            rect(x='231' y='133' width='26' height='22' fill='#12101E')
            rect(x='41.9999' y='177' width='26' height='26' fill='#06060B')
            rect(x='82' y='187' width='24' height='25' fill='#C008CC')
            rect(x='58' y='222' width='24' height='56' fill='#8151FF')
            rect(x='70.9999' y='177' width='26' height='26' fill='#8151FF')
        .main-subtitle
          | Ваш проводник в мире <br> 
          | цифровой связи
        .main-lines
          .main-lines__item.main-lines__item--long
          .main-lines__item.main-lines__item--short
      .section-header-main-content__imgs
        .blur
          #circle.blur-figure.blur-figure__circle
            img(src="assets/img/section-header/section-header-blur-circle.svg", alt="e")
          .blur-figure.blur-figure__circle--big
            img(src="assets/img/section-header/section-header-blur-ellipse.svg", alt="e")
          .blur-figure.blur-figure__arbitrary
            img(src="assets/img/section-header/section-header-blur-arbitrary.svg", alt="e")
          .blur-figure.blur-figure__arbitrary--big
            img(src="assets/img/section-header/section-header-blur-arbitrary-big.svg", alt="e")
        .hand-mockap
          .hand-mockap__bg-circle
            svg(width='584' height='564' viewbox='0 0 584 564' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(filter='url(#filter0_f)')
                ellipse(cx='292' cy='282' rx='282' ry='272' fill='url(#paint0_linear)')
              defs
                filter#filter0_f(x='-3.05176e-05' y='0' width='584' height='564' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                  feflood(flood-opacity='0' result='BackgroundImageFix')
                  feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                  fegaussianblur(stddeviation='5' result='effect1_foregroundBlur')
                lineargradient#paint0_linear(x1='118.572' y1='114.763' x2='292.098' y2='553.961' gradientunits='userSpaceOnUse')
                  stop(stop-color='#8151FF')
                  stop(offset='1' stop-color='#8151FF' stop-opacity='0')
          h3.hand-mockap-void-item.hand-mockap-void-item--up
            each word in ['V', 'O', 'I', 'P']
              span.hand-mockap-void-item__word= word
          h3.hand-mockap-void-item.hand-mockap-void-item--down
            each word in ['V', 'O', 'I', 'P']
              span.hand-mockap-void-item__word= word
          .hand-mockap__img
            img(src="assets/img/section-header/hand-mockap.png", alt="Рука с мокапом")
          .dots
            img(src="assets/img/block-dots.svg", alt="dots")
          .lines
            img(src="assets/img/block-lines.svg", alt="lines")

