section.section.section-tariffs
  #tariffs.container
    .section-tariffs-content-wrap
      img.section-tariffs-content-circle--normal(src="assets/img/section-header/section-header-blur-ellipse.svg", alt="e")
      .section-tariffs-content-inner
        .section-tariffs-content-bit
          h2.tx-title.section-tariffs-content-bit__title Тарифы на <br> популярные <br> направления
          p.tx-subtitle.section-tariffs-content-bit__subtitle Заказать обратный звонок.<br> Оставьте заявку и с Вами <br> свяжутся
          button.tx-button.section-tariffs-content-bit__button Оставить заявку
        .section-tariffs-content-cards
          .section-tariffs-content-cards-card-wrap--blue
            .section-tariffs-content-cards-card.section-tariffs-content-cards-card--blue
              .section-tariffs-content-cards-card-text
                .section-tariffs-content-cards-card-text__title Мобильные
                .section-tariffs-content-cards-card-text__subtitle РФ
              svg.section-tariffs-content-cards-card__cost(width='237' height='104' viewbox='0 0 237 104' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M23.58 39.36L7.65 48.18V37.11L26.1 25.59H36.72V84H23.58V39.36ZM58.057 71.58H71.737L63.277 94.08H53.917L58.057 71.58ZM80.4544 70.68C80.4544 67.44 81.3544 64.62 83.1544 62.22C84.9544 59.82 87.2944 57.99 90.1744 56.73C92.4544 55.71 95.1244 54.69 98.1844 53.67C101.244 52.65 103.614 51.57 105.294 50.43C106.974 49.29 107.814 47.94 107.814 46.38V38.91C107.814 37.05 107.064 35.82 105.564 35.22C103.944 34.56 101.424 34.23 98.0044 34.23C93.8644 34.23 88.4044 34.98 81.6244 36.48V26.58C87.6244 25.32 93.8944 24.69 100.434 24.69C107.514 24.69 112.764 25.77 116.184 27.93C119.664 30.09 121.404 33.69 121.404 38.73V46.83C121.404 49.89 120.474 52.56 118.614 54.84C116.814 57.06 114.474 58.74 111.594 59.88C108.894 61.02 106.134 62.04 103.314 62.94C100.254 64.02 97.8244 65.22 96.0244 66.54C94.2844 67.86 93.4144 69.42 93.4144 71.22V74.19H121.494V84H80.4544V70.68ZM132.661 70.68C132.661 67.44 133.561 64.62 135.361 62.22C137.161 59.82 139.501 57.99 142.381 56.73C144.661 55.71 147.331 54.69 150.391 53.67C153.451 52.65 155.821 51.57 157.501 50.43C159.181 49.29 160.021 47.94 160.021 46.38V38.91C160.021 37.05 159.271 35.82 157.771 35.22C156.151 34.56 153.631 34.23 150.211 34.23C146.071 34.23 140.611 34.98 133.831 36.48V26.58C139.831 25.32 146.101 24.69 152.641 24.69C159.721 24.69 164.971 25.77 168.391 27.93C171.871 30.09 173.611 33.69 173.611 38.73V46.83C173.611 49.89 172.681 52.56 170.821 54.84C169.021 57.06 166.681 58.74 163.801 59.88C161.101 61.02 158.341 62.04 155.521 62.94C152.461 64.02 150.031 65.22 148.231 66.54C146.491 67.86 145.621 69.42 145.621 71.22V74.19H173.701V84H132.661V70.68ZM185.948 25.59H209.348C215.048 25.59 219.548 25.98 222.848 26.76C226.208 27.54 228.638 28.92 230.138 30.9C231.698 32.82 232.478 35.52 232.478 39V50.07C232.478 53.91 231.638 56.91 229.958 59.07C228.338 61.23 225.728 62.76 222.128 63.66C218.588 64.56 213.788 65.01 207.728 65.01H199.988V84H185.948V25.59ZM208.898 55.38C212.558 55.38 215.138 54.96 216.638 54.12C218.138 53.22 218.888 51.72 218.888 49.62V40.26C218.888 38.34 218.168 37.08 216.728 36.48C215.348 35.88 212.678 35.58 208.718 35.58H199.988V55.38H208.898Z' fill='#D305D7')
                rect(x='180' y='71' width='30' height='5' fill='#D305D7')
                rect(x='17' y='52' width='9' height='9' fill='#3501CB')
                rect(x='104' y='40' width='9' height='9' fill='#3501CB')
                rect(x='185' y='31' width='10' height='9' fill='#3501CB')
                rect(x='36' y='52' width='5' height='9' fill='#D305D7')
                rect(x='121' y='40' width='8' height='9' fill='#C305D6')
            img.section-tariffs-content-cards-card__bg-lines(src="assets/img/block-lines.svg", alt="Линии на фоне")
          .section-tariffs-content-cards-wrap-right
            .section-tariffs-content-cards-card.section-tariffs-content-cards-card--white
              .section-tariffs-content-cards-card-text
                .section-tariffs-content-cards-card-text__title Россия
                .section-tariffs-content-cards-card-text__subtitle Москва
              svg.section-tariffs-content-cards-card__cost(width='144' height='81' viewbox='0 0 144 81' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M20.23 66.7C18.1767 66.7 16.4967 66.63 15.19 66.49C13.8833 66.35 12.46 66.07 10.92 65.65C9.33333 65.1833 8.05 64.53 7.07 63.69C6.09 62.8033 5.27333 61.5433 4.62 59.91C3.92 58.3233 3.57 56.41 3.57 54.17V32.4C3.57 30.2533 3.89667 28.3633 4.55 26.73C5.20333 25.0967 6.04333 23.8133 7.07 22.88C7.95667 22.0867 9.17 21.4567 10.71 20.99C12.25 20.4767 13.79 20.15 15.33 20.01C17.1033 19.9167 18.7367 19.87 20.23 19.87C22.33 19.87 24.01 19.94 25.27 20.08C26.53 20.1733 27.93 20.4533 29.47 20.92C31.15 21.4333 32.48 22.11 33.46 22.95C34.44 23.79 35.28 25.0033 35.98 26.59C36.68 28.1767 37.03 30.1133 37.03 32.4V54.17C37.03 56.3167 36.68 58.2067 35.98 59.84C35.3267 61.4733 34.4867 62.7333 33.46 63.62C32.5267 64.4133 31.2433 65.0667 29.61 65.58C28.0233 66.0933 26.5067 66.3967 25.06 66.49C23.7533 66.63 22.1433 66.7 20.23 66.7ZM20.37 60.12C22.33 60.12 23.73 60.0033 24.57 59.77C25.41 59.49 25.97 59 26.25 58.3C26.53 57.6 26.67 56.4567 26.67 54.87V31.7C26.67 30.1133 26.53 28.97 26.25 28.27C25.97 27.57 25.41 27.1033 24.57 26.87C23.73 26.59 22.33 26.45 20.37 26.45C18.3633 26.45 16.9167 26.59 16.03 26.87C15.19 27.1033 14.63 27.57 14.35 28.27C14.07 28.97 13.93 30.1133 13.93 31.7V54.87C13.93 56.4567 14.07 57.6 14.35 58.3C14.63 59 15.19 59.49 16.03 59.77C16.9167 60.0033 18.3633 60.12 20.37 60.12ZM45.1555 56.34H55.7955L49.2155 73.84H41.9355L45.1555 56.34ZM83.3656 28.55H61.3156V20.57H94.6356V27.57L77.2056 66H65.8656L83.3656 28.55ZM104.021 20.57H122.221C126.654 20.57 130.154 20.8733 132.721 21.48C135.334 22.0867 137.224 23.16 138.391 24.7C139.604 26.1933 140.211 28.2933 140.211 31V39.61C140.211 42.5967 139.558 44.93 138.251 46.61C136.991 48.29 134.961 49.48 132.161 50.18C129.408 50.88 125.674 51.23 120.961 51.23H114.941V66H104.021V20.57ZM121.871 43.74C124.718 43.74 126.724 43.4133 127.891 42.76C129.058 42.06 129.641 40.8933 129.641 39.26V31.98C129.641 30.4867 129.081 29.5067 127.961 29.04C126.888 28.5733 124.811 28.34 121.731 28.34H114.941V43.74H121.871Z' fill='#602FEE')
                rect(x='99' y='55' width='24' height='4' fill='#602FEE')
                rect(x='37' y='41' width='5' height='5' fill='#602FEE')
                rect(x='71' y='44' width='5' height='5' fill='#602FEE')
                rect(x='83' y='44' width='5' height='5' fill='#FFFBFB')
                rect(x='3' y='41' width='5' height='5' fill='#FFFBFB')
                rect(x='25' y='41' width='5' height='5' fill='#FFFBFB')
            .section-tariffs-content-cards-card.section-tariffs-content-cards-card--gradient
              .section-tariffs-content-cards-card__bg--gradient
              .section-tariffs-content-cards-card-text
                .section-tariffs-content-cards-card-text__title Россия
                .section-tariffs-content-cards-card-text__subtitle Санкт-Петербург
              svg.section-tariffs-content-cards-card__cost(width='266' height='150' viewbox='0 0    266 150' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M37.57 123.3C33.7567 123.3 30.6367 123.17 28.21 122.91C25.7833 122.65 23.14 122.13 20.28 121.35C17.3333 120.483 14.95 119.27 13.13 117.71C11.31 116.063 9.79333 113.723 8.58 110.69C7.28 107.743 6.63 104.19 6.63 100.03V59.6C6.63 55.6133 7.23667 52.1033 8.45 49.07C9.66333 46.0367 11.2233 43.6533 13.13 41.92C14.7767 40.4467 17.03 39.2767 19.89 38.41C22.75 37.4567 25.61 36.85 28.47 36.59C31.7633 36.4167 34.7967 36.33 37.57 36.33C41.47 36.33 44.59 36.46 46.93 36.72C49.27 36.8933 51.87 37.4133 54.73 38.28C57.85 39.2333 60.32 40.49 62.14 42.05C63.96 43.61 65.52 45.8633 66.82 48.81C68.12 51.7567 68.77 55.3533 68.77 59.6V100.03C68.77 104.017 68.12 107.527 66.82 110.56C65.6067 113.593 64.0467 115.933 62.14 117.58C60.4067 119.053 58.0233 120.267 54.99 121.22C52.0433 122.173 49.2267 122.737 46.54 122.91C44.1133 123.17 41.1233 123.3 37.57 123.3ZM37.83 111.08C41.47 111.08 44.07 110.863 45.63 110.43C47.19 109.91 48.23 109 48.75 107.7C49.27 106.4 49.53 104.277 49.53 101.33V58.3C49.53 55.3533 49.27 53.23 48.75 51.93C48.23 50.63 47.19 49.7633 45.63 49.33C44.07 48.81 41.47 48.55 37.83 48.55C34.1033 48.55 31.4167 48.81 29.77 49.33C28.21 49.7633 27.17 50.63 26.65 51.93C26.13 53.23 25.87 55.3533 25.87 58.3V101.33C25.87 104.277 26.13 106.4 26.65 107.7C27.17 109 28.21 109.91 29.77 110.43C31.4167 110.863 34.1033 111.08 37.83 111.08ZM83.8602 104.06H103.62L91.4002 136.56H77.8802L83.8602 104.06ZM154.822 52.45H113.872V37.63H175.752V50.63L143.382 122H122.322L154.822 52.45ZM193.182 37.63H226.982C235.215 37.63 241.715 38.1933 246.482 39.32C251.335 40.4467 254.845 42.44 257.012 45.3C259.265 48.0733 260.392 51.9733 260.392 57V72.99C260.392 78.5367 259.179 82.87 256.752 85.99C254.412 89.11 250.642 91.32 245.442 92.62C240.329 93.92 233.395 94.57 224.642 94.57H213.462V122H193.182V37.63ZM226.332 80.66C231.619 80.66 235.345 80.0533 237.512 78.84C239.679 77.54 240.762 75.3733 240.762 72.34V58.82C240.762 56.0467 239.722 54.2267 237.642 53.36C235.649 52.4933 231.792 52.06 226.072 52.06H213.462V80.66H226.332Z' fill='white')
                rect(x='189' y='98' width='34' height='6' fill='white')
                rect(x='3' y='67' width='11' height='11' fill='#7D02D1')
                rect(x='67' y='64' width='11' height='11' fill='white')
                rect(x='78' y='53' width='11' height='11' fill='white')
                rect(x='118' y='101' width='15' height='11' fill='white')
                rect(x='190' y='70' width='11' height='11' fill='#4501CC')
                rect(x='145' y='101' width='11' height='11' fill='#3F01CC')
        .content-lines.section-tariffs-content-lines
          .content-lines--short.section-tariffs-content-lines__short
          .content-lines--long.section-tariffs-content-lines__long
      img.section-tariffs-content-circle--big(src="assets/img/section-tariffs/ellipse--pink.svg", alt="ellipse pink")
      img.section-tariffs-content-circle--small(src="assets/img/section-tariffs/ellipse--gradient.svg", alt="ellipse gradient")