section#offers.section.section-offers
  .container
    h2.tx-title Мы предлагаем
    p.tx-subtitle Возможность недорого и качественно звонить в любую точку мира
    .section-offers-slider-arrows
      .section-offers-slider-arrows-item.section-offers-slider-arrows-item__prev
        img(src="assets/img/icons/section-offers/slider-arrow-prev.svg", alt="Назад")
      .section-offers-slider-arrows-item.section-offers-slider-arrows-item__next
        img(src="assets/img/icons/section-offers/slider-arrow-next.svg", alt="Вперед")
    .swiper-container.section-offers-slider
      .swiper-wrapper.section-offers-slier-wrapper
        .swiper-slide.section-offers-slider-item--first.section-offers-slider-item
          .section-offers-slider-item-wrap-img
            .section-offers-slider-item-wrap-img__line
            .section-offers-slider-item-wrap-img__img
              img(src="assets/img/section-offers/local-comm.png", alt="local")
          a(href="").section-offers-slider-item__title Местная связь
          .section-offers-slider-item__descr
            | Предоставление прямых телефонных номеров в различных городах и странах
        .swiper-slide.section-offers-slider-item--two.section-offers-slider-item
          .section-offers-slider-item-wrap-img
            .section-offers-slider-item-wrap-img__line
            .section-offers-slider-item-wrap-img__img
              img(src="assets/img/section-offers/telephony.png", alt="Телефония")
          a(href="").section-offers-slider-item__title IP-Телефония
          .section-offers-slider-item__descr Быстрое и удобное подключение Офисная телефония Гибкий подход к тарифим
        .swiper-slide.section-offers-slider-item--three.section-offers-slider-item
          .section-offers-slider-item-wrap-img
            .section-offers-slider-item-wrap-img__line
            .section-offers-slider-item-wrap-img__img
              img(src="assets/img/section-offers/numbers.png", alt="numbers")
          a(href="").section-offers-slider-item__title Номера 8 800
          .section-offers-slider-item__descr Услуги местной, международней, междугородней телефонной связи. Выберете красивые запоминающиеся номера для бесплатных звонков ваших клиентов из любой точки России
        .swiper-slide.section-offers-slider-item--four.section-offers-slider-item
          .section-offers-slider-item-wrap-img
            .section-offers-slider-item-wrap-img__line
            .section-offers-slider-item-wrap-img__img
              img(src="assets/img/section-offers/auto-dialer.png", alt="auto-dialier")
          a(href="").section-offers-slider-item__title Автодозвон
          .section-offers-slider-item__descr Прием входящих звонков и переадресация на сотрудников. Полноценное голосовое меню
        .swiper-slide.section-offers-slider-item--fife.section-offers-slider-item
          .section-offers-slider-item-wrap-img
            .section-offers-slider-item-wrap-img__line
            .section-offers-slider-item-wrap-img__img
              img(src="assets/img/section-offers/auto-dialer.png", alt="auto-dialier")
          a(href="").section-offers-slider-item__title Решение комплексных задач  по коммуникацим
          .section-offers-slider-item__descr С помощью FMC технологии  мобильный телефон становится карманным офисным аппаратом с коротким номером.  