doctype html
html(lang="ru-RU")
  include ../includes/_head.pug
  body
    .preloader-wrap
    .wrap-for-blur
      #particles-left.particles.particles-left
      #particles-right.particles.particles-right
      include ../includes/_section-header.pug
      include ../includes/_section-offers.pug
      include ../includes/_section-services.pug
      include ../includes/_section-tariffs.pug
      include ../includes/_section-advantages.pug
      include ../includes/_section-coop.pug
      include ../includes/_section-footer.pug
    script(src="assets/js/vendors~app.js")
    script(src="assets/js/app.js")